       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">categorie des produits </a>
          <div class="dropdown-menu">
    
          </div>
        </li>